.details{
    margin: 5vw 0;

}

.dropdown-about {
    width: 80%;
    display: block;
    margin: auto;
    padding : 15px 20px; 
    cursor: pointer;
    border-radius: 10px;
    position: relative;
    z-index: 9;

    @media (max-width: 600px){
        width: 100%;
        padding: 0;
        padding-bottom: 4vw;
    }

    .chevron-state{
        color: #fff;
    }
    .details-items{
        color: $color1;
    }
    
}