
.card-container{

    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 3vw;
    padding: 4vw 3vw;
    margin-bottom: 3vw;
    background : #F7F7F7;
    @media (max-width: 600px) {
        background: unset;
      }
    border-radius: 25px;

}




.card{
    cursor: pointer;
    height: 340px;
    width: 340px;
    // max-width: 100%;    
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    color:#fff;
    object-fit: cover;
    text-decoration: none;

    
    .title{
        color:#fff;
        position: relative;
        bottom: 70px;
        margin-left: 20px;
        font-weight: 500;
        font-size: 18px;
        max-width: 300px;
    }
}

.card-cover{
    object-fit: cover;
    height: 100%;
    border-radius: 25px;
    filter: brightness(70%);

    &:hover{
        filter: brightness(100%);
        transition: 500ms;
    }
}

@media (max-width: 1046px){
    .location-elt{
        width: 80%;
    }

    .card{
        width: 100%;
    }
}


@media (max-width: 600px) {

    .card-container{
        padding: unset
    }
    .location-elt{
        // border: 1px solid black;
        width: 100%;
    }

    .card{
        margin: unset;
        width: 100%;
    }

    .card-cover{
        object-fit: cover;
    }
}
