.banner-container{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-bottom: 4vw;
}
.cover-image{
    min-width: 100%;
    max-width: 100%;
    min-height: 111px;
    object-fit: cover;
    border-radius: 2vw;
    filter: brightness(60%);
  
   &-locations {
       filter: brightness(100%);
   }
}
 .motto{
     color: #fff;
     position: absolute;
     font-weight: 500;
     font-size: 2.5vw;

     @media (max-width: 600px) {
        font-size: 20px;
        margin: 30px;
        flex-wrap: wrap;
      }
 }