 .cover-image{
     border-radius: 25px;
     width: 85%;
     display: block;
     margin: auto;
     margin-left: 100px;
     filter: brightness(60%);
 }

 .motto{
     color: #fff;
     position: relative;
     bottom: 130px;
     font-weight: 500;
     text-align: center;
     font-size: 48px;
 }