@import './keyframes';

.details-container{
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-right: unset;

    @media (max-width: 600px){
        flex-wrap: wrap;
        gap: 15px;
        margin-bottom: 20px;
    }

    // border : solid 1px black
}

.dropdown{
    min-width: 46%;
    max-width: 46%;

    @media (max-width: 600px){
        min-width: 100%;
    }
}

.dropdown-menu {
    color: #fff ;
    padding : 15px 20px; 
    cursor: pointer;
    background-color: $color1;
    height: 25px;
    border-radius: 10px;
    position: relative;
    z-index: 9;
}


.dropdown-title{
    display: inline;
    color: #fff;
    font-weight: 500;
    font-size: 18px;
}

.chevron-state{
    font-size: 30px;
    display: inline;
    float: right;
    cursor: pointer;
    position: relative;
    bottom: 5px;
}

.details-items{
    background-color: #F7F7F7;
    margin-top: -10px;
    padding: 40px 20px;
    display: block;
    border-radius: 0 0 10px 10px;
    animation: slideDown 1000ms;

    li{
        list-style-type: none;
        padding-inline-start: none;
    }
}
