.footer-container{
    width: 100vw;
    margin-left: -13vw;
    margin-bottom: -13vw;
    // padding-bottom: 13vw;
    text-align: center;
    padding: 75px 0 30px 0;
    // margin-right: -50px;
    background-color: black;
    height: 160px;
    @media (max-width: 600px){
      padding: 20px;
    }
}

.copyright-txt{
    margin-top: 40px;
    color: #fff;
    font-weight: 500;
    font-size: 28px;
    @media (max-width: 600px){
        font-size: 3vw;
    }
}