.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 4vw;
    // border: black 1px solid;

}

.logo{
    width: 15vw;
    cursor: pointer;
    @media (max-width: 600px){
        width: 40vw;
    }
} 