.container-locations{
    margin: 30px 0 0 100px;
    color: #FF6060;
}

.title-of-location{
    font-size: 36px;
    font-weight: 500;
    max-width: 80%;
}

.place-of-location{
    margin-top: 10px;
    font-weight: 500;
    font-size: 18px;
}

.tag-container{
    margin-top: 20px;
    margin-bottom: -50px;
}
.tags{
    display: inline-block;
    margin-right: 10px;
    background-color: $color1;
    border-radius: 10px;
    color: #fff;
    padding: 2px 30px;

}

.stars-container{
    // border: 1px solid black;
    display: inline;
    float: right;
    position: relative;
    top: 20px;
    left: 180px;
    font-size: 24px;
    
}