.navbar{

    font-size: 1.5vw;
    @media (max-width: 600px){
        font-size: 3.5vw;
    }


    
    & ul {
        display: flex;
        padding-inline-start: unset;
        list-style-type: none;
        // border: 1px solid black;
        gap: 5vw;

        & li{
            cursor: pointer;  

            
            & a{
                text-decoration: none;
                color: $color1;
                @media (max-width: 600px){
                    text-transform: uppercase;
                }

            }     
            & a:hover{
                text-decoration: underline;
            }
            
        }
    }
}