.profile-container{
    display: flex;
    float: right;
    position: relative;
    bottom: 16vw;
    @media (max-width: 600px){
        top: 15px;
    }
    
}

.host-name{
    font-size: 2.8vw;
    font-weight: 500;
    display: inline;
    margin-right: 10px;
}

.profile-picture{
    border-radius: 50%;
    width: 10vw;
}