.profile-container {
  display: flex;
  float: right;
  @media (max-width: 600px) {
    position: relative;
    top: 30vw;
  }
}

.host-name {
  font-size: 2.8vw;
  font-weight: 500;
  display: inline;
  margin-right: 10px;
}

.profile-picture {
  border-radius: 50%;
  width: 10vw;
}
